.i-reasons
	padding: 100px 0 72px
	color: $white
	background: rgba(23, 17, 102, 0.94)
	background-image: linear-gradient(180deg, rgba(23, 17, 102, 0.94) 0%, rgba(11, 6, 59, 0.94) 100%)
	&__content
		max-width: 800px
		p
			opacity: 0.8
			+f('sfr', 17, 24)
			letter-spacing: 0.2px
			+sm
				font-size: 16px
	&__title
		margin-bottom: 13px
