<header class="header">
  <div class="l l_col">
    <div class="header__in">
      <!-- begin col -->
      <div class="l-col l-col_l">
        <!-- begin logo -->
        <a class="header__logo">
            <img src="img/logo.svg" alt="brickblock"/>
          </a>
        <!-- end logo -->
        <!-- begin switcher -->
        <div class="header__switcher">
          <span>ENG</span>
          {{ mixins.icon('arrowhead') }}
        </div>
        <!-- end switcher -->
      </div>
      <!-- end col -->
      <!-- begin col -->
      <div class="l-col l-col_r js-nav-dropdown">
        <!-- begin nav -->
        <ul class="nav">
          <li class="nav__item">
            <a href="">Platform</a>
          </li>
          <li class="nav__item">
            <a href="">Tokens</a>
          </li>
          <li class="nav__item">
            <a href="">Roadmap</a>
          </li>
          <li class="nav__item">
            <a href="">Media</a>
          </li>
          <li class="nav__item">
            <a href="">Whitepaper
            {{ mixins.icon('arrowhead') }}</a>
          </li>
          <li class="nav__item">
            <a href="">Blog</a>
          </li>
        </ul>
        <!-- end nav -->
        <!-- begin btn -->
        <div class="header__btn">
          <a href="">GET TOKENS</a>
        </div>
        <!-- end btn -->
      </div>
      <!-- end col -->

      <button class="nav-toggle js-nav-toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </button>
    </div>
  </div>
</header>
