.i-title-lg
	+f('sssb', 34, 42)
	letter-spacing: .06em 
	text-transform: uppercase
	
.i-title-md
	+f('sssb', 24, 33, 2.19)
	letter-spacing: 0.09em 
	text-transform: uppercase
	
.i-title-sm
	+f('stm', 16, 19, 0.5)
	text-transform: uppercase
	
.i-sub-title
	+f('sssb', 14, 33)
	letter-spacing: 0.15em 
	color: rgba($text-gray, 0.6) 
	text-transform: uppercase