<!-- i-topic -->
<div class="i-topic">
	<div class="i-topic__inner inner">
		<h1 class="i-title-lg">{{topic.title}}</h1>
		<div class="i-topic__subTitle">{{topic.subTitle}}</div>
		<div class="i-topic__butons">
			<a href="#" class="btn btn_dark">
				{{topic.btnDark}}
				<div class="btn__arr">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</a>
			<button class="btn btn_bord">{{topic.btnBord}}</button>
		</div>
		<div class="i-topic__img">
			<img src="./img/{{topic.img}}" alt="img"/>
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->