.icon-arrow {
  width: 1.26em;
  height: 1em;
  fill: none;
}
.icon-arrowhead {
  width: 0.73em;
  height: 1em;
  fill: none;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: #007BB5;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #55ACEE;
}
